Repository Yoo-96/yoo-ui-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run lint:style

.lintstagedrc:

{
  "*.{js,ts,vue}": ["npm run lint"],
  "*.{vue,css,scss,sass,less}": ["npm run lint:style"]
}

chore: add .eslintignore
  .eslintignore
Due: none

feat: 引入element-plus组件库，引入unplugin-auto-import插件实现自动引入第三方库api
  .prettierignore
  auto-imports.d.ts
  components.d.ts
  package.json
  src/views/ProTable/index.vue
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: npm run lint, npm run lint:style

chore: 删除多余文件
  .prettierignore
Due: none

feat: 引入@vitejs/plugin-vue-jsx插件，支持jsx语法
  package.json
  src/components/ProTable/index.tsx
  src/router/index.ts
  src/views/ProTable/index.vue
  src/views/ProTableExample/index.vue
  vite.config.ts
  yarn.lock
Due: npm run lint, npm run lint:style

feat: 配置eslint支持jsx语法
  .eslintrc.js
  components.d.ts
  src/components/ProTable/index.less
  src/components/ProTable/index.tsx
  src/components/ProTable/index.vue
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat: 取消自动引入第三方库api
  auto-imports.d.ts
  components.d.ts
  vite.config.ts
Due: npm run lint

feat: ProTable组件基本功能开发
  .stylelintrc
  components.d.ts
  package.json
  src/App.vue
  src/api/user.ts
  src/assets/css/custom.less
  src/assets/css/index.less
  src/assets/css/normalize.less
  src/components/ProTable/components/Pagination/index.less
  src/components/ProTable/components/Pagination/index.vue
  src/components/ProTable/components/TableList/index.less
  src/components/ProTable/components/TableList/index.vue
  src/components/ProTable/components/Toolbar/index.less
  src/components/ProTable/components/Toolbar/index.vue
  src/components/ProTable/index.vue
  src/components/ProTable/types.d.ts
  src/hooks/use-namespace/index.ts
  src/types/type.d.ts
  src/types/user.d.ts
  src/views/ProTableExample/index.vue
  yarn.lock
Due: npm run lint, npm run lint:style

feat: ProTable修改请求数据属性命名
  src/components/ProTable/index.vue
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

docs: 新增ProTable 组件说明
  README.md
  docs/ProTable.md
Due: none

fix: 处理ts报错
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 增加清空多选操作
  docs/ProTable.md
  src/components/ProTable/components/TableList/index.vue
  src/components/ProTable/index.vue
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 增加清空多选操作
  src/components/ProTable/components/TableList/index.vue
  src/components/ProTable/index.vue
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 修改'request' api
  docs/ProTable.md
  src/api/user.ts
  src/components/ProTable/index.vue
  src/components/ProTable/types.d.ts
  src/types/type.d.ts
  src/types/user.d.ts
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 完善类型设置
  src/components/ProTable/components/Toolbar/index.less
  src/components/ProTable/index.vue
  src/components/ProTable/types.d.ts
  src/types/type.d.ts
  src/types/user.d.ts
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

fix: 处理取值错误
  src/components/ProTable/components/Pagination/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 增加全屏功能、操作栏刷新功能
  components.d.ts
  package.json
  src/components/FullScreenIcon/index.less
  src/components/FullScreenIcon/index.vue
  src/components/ProTable/components/Toolbar/index.vue
  src/components/ProTable/index.vue
  yarn.lock
Due: npm run lint, npm run lint:style

feat(ProTable): 增加显示选择功能
  components.d.ts
  src/components/ProTable/components/ColumnsSetup/index.less
  src/components/ProTable/components/ColumnsSetup/index.vue
  src/components/ProTable/components/TableList/index.vue
  src/components/ProTable/components/Toolbar/index.vue
  src/components/ProTable/const.ts
  src/components/ProTable/index.vue
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 调整toolbar工具栏属性配置
  docs/ProTable.md
  src/components/ProTable/components/Toolbar/index.vue
  src/components/ProTable/index.vue
  src/components/ProTable/types.d.ts
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 调整toolbar工具栏属性配置
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): toolbar支持配置操作icon功能
  docs/ProTable.md
  src/components/ProTable/components/Toolbar/index.less
  src/components/ProTable/components/Toolbar/index.vue
  src/components/ProTable/types.d.ts
  src/views/ProTableExample/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): columns改成通过provide传递
  src/components/ProTable/components/ColumnsSetup/index.vue
  src/components/ProTable/index.vue
Due: npm run lint, npm run lint:style

feat(ProTable): 完善column类型定义
  src/components/ProTable/components/ColumnsSetup/index.vue
  src/components/ProTable/components/TableList/index.vue
  src/components/ProTable/index.vue
  src/components/ProTable/types.d.ts
  src/hooks/use-table-columns/index.ts
Due: npm run lint, npm run lint:style

add LICENSE.
  LICENSE
Due: none

feat(ProTable): 增加搜索栏配置功能
  .lintstagedrc
  .stylelintrc
  components.d.ts
  docs/ProTable.md
  package.json
  src/components/ProTable/components/ColumnsSetup/index.vue
  src/components/ProTable/components/Pagination/index.vue
  src/components/ProTable/components/SearchBar/SearchItem/index.less
  src/components/ProTable/components/SearchBar/SearchItem/index.vue
  src/components/ProTable/components/SearchBar/index.less
  src/components/ProTable/components/SearchBar/index.vue
  src/components/ProTable/const.ts
  src/components/ProTable/index.vue
  src/components/ProTable/types.d.ts
  src/views/ProTableExample/index.vue
  yarn.lock
Due: npm run lint, npm run lint:style

chore: 调整整理目录结构
  examples/App.vue
  examples/api/user.ts
  examples/assets/css/index.less
  examples/assets/css/normalize.less
  examples/auto-imports.d.ts
  examples/components.d.ts
  examples/env.d.ts
  examples/index.html
  examples/main.ts
  examples/router/index.ts
  examples/types/type.d.ts
  examples/types/user.d.ts
  examples/views/ProTableExample/index.vue
  packages/assets/css/custom.less
  packages/assets/css/index.less
  packages/assets/css/normalize.less
  packages/components/FullScreenIcon/index.less
  packages/components/FullScreenIcon/index.vue
  packages/components/ProTable/components/ColumnsSetup/index.less
  packages/components/ProTable/components/ColumnsSetup/index.vue
  packages/components/ProTable/components/Pagination/index.less
  packages/components/ProTable/components/Pagination/index.vue
  packages/components/ProTable/components/SearchBar/SearchItem/index.less
  packages/components/ProTable/components/SearchBar/SearchItem/index.vue
  packages/components/ProTable/components/SearchBar/index.less
  packages/components/ProTable/components/SearchBar/index.vue
  packages/components/ProTable/components/TableList/index.less
  packages/components/ProTable/components/TableList/index.vue
  packages/components/ProTable/components/Toolbar/index.less
  packages/components/ProTable/components/Toolbar/index.vue
  packages/components/ProTable/const.ts
  packages/components/ProTable/index.less
  packages/components/ProTable/index.vue
  packages/components/ProTable/types.d.ts
  packages/hooks/use-namespace/index.ts
  packages/hooks/use-table-columns/index.ts
  src/assets/logo.png
  tsconfig.json
  vite.config.ts
Due: npm run lint, npm run lint:style

chore: 增加组件库打包配置
  .eslintignore
  .gitignore
  components.d.ts
  examples/api/user.ts
  examples/components.d.ts
  examples/views/ProTableExample/index.vue
  package.json
  packages/components/FullScreenIcon/index.ts
  packages/components/FullScreenIcon/src/index.less
  packages/components/FullScreenIcon/src/index.vue
  packages/components/ProTable/index.less
  packages/components/ProTable/index.ts
  packages/components/ProTable/src/components/ColumnsSetup/index.less
  packages/components/ProTable/src/components/ColumnsSetup/index.vue
  packages/components/ProTable/src/components/Pagination/index.less
  packages/components/ProTable/src/components/Pagination/index.vue
  packages/components/ProTable/src/components/SearchBar/SearchItem/index.less
  packages/components/ProTable/src/components/SearchBar/SearchItem/index.vue
  packages/components/ProTable/src/components/SearchBar/index.less
  packages/components/ProTable/src/components/SearchBar/index.vue
  packages/components/ProTable/src/components/TableList/index.less
  packages/components/ProTable/src/components/TableList/index.vue
  packages/components/ProTable/src/components/Toolbar/index.less
  packages/components/ProTable/src/components/Toolbar/index.vue
  packages/components/ProTable/src/const.ts
  packages/components/ProTable/src/index.less
  packages/components/ProTable/src/index.vue
  packages/components/ProTable/src/types.d.ts
  packages/components/index.ts
  packages/index.ts
  packages/utils/install.ts
  rollup.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: npm run lint, npm run lint:style

docs: 完善文档
  README.md
  docs/ProTable.md
  package.json
  yarn.lock
Due: none

0.1.0
  package.json
Due: none

chore: 调整打包逻辑、增加ts声明导出
  CHANGELOG.md
  build/dev.config.ts
  build/lib.build.ts
  build/rollup.build.js
  package.json
  yarn.lock
Due: npm run lint
